@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url("../fonts/montserrat/Montserrat-Light.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-Light.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-Medium.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-Bold.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Exo', sans-serif;
	src: url("../fonts/Exo/Exo-SemiBold.woff2") format("woff2"),
		url("../fonts/Exo/Exo-SemiBold.woff") format("woff"),
		url("../fonts/Exo/Exo-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Exo 2', sans-serif;
	src: url("../fonts/Exo2/Exo2-Regular.woff2") format("woff2"),
		url("../fonts/Exo2/Exo2-Regular.woff") format("woff"),
		url("../fonts/Exo2/Exo2-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Ubuntu', sans-serif;
	src: url("../fonts/Ubuntu/Ubuntu-Medium.woff2") format("woff2"),
		url("../fonts/Ubuntu/Ubuntu-Medium.woff") format("woff"),
		url("../fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}